<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.topjuantech_ojt" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TopJuanTech_OJT"
        tools:targetApi="31" >
        <activity
            android:name=".Establishments"
            android:exported="false" />
        <activity
            android:name=".UserEstablishmentMain"
            android:exported="false" />
        <activity
            android:name=".UserProfile"
            android:exported="false" />
        <activity
            android:name=".UserDesiredCity"
            android:exported="false" />
        <activity
            android:name=".AdminPopUp"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".AdminMenu"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".UserHotelReservation"
            android:exported="false" />
        <activity
            android:name=".Maps"
            android:exported="false" />
        <activity
            android:name=".UserAttraction"
            android:exported="false" />
        <activity
            android:name=".UserHotels"
            android:exported="false" />
        <activity
            android:name=".UserHospital"
            android:exported="false" />
        <activity
            android:name=".UserGovernment"
            android:exported="false" />
        <activity
            android:name=".UserGas"
            android:exported="false" />
        <activity
            android:name=".UserFoodspot"
            android:exported="false" />
        <activity
            android:name=".UserBeverages"
            android:exported="false" />
        <activity
            android:name=".UserBanks"
            android:exported="false" />
        <activity
            android:name=".UserAmusement"
            android:exported="false" />
        <activity
            android:name=".AdminNavigation"
            android:exported="false" />
        <activity
            android:name=".City"
            android:exported="false" />
        <activity
            android:name=".SliderAdapter"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".UserDashboard"
            android:exported="false" />
        <activity
            android:name=".ResetPassword"
            android:exported="false" />
        <activity
            android:name=".NavigationDrawer"
            android:exported="false" />
        <activity
            android:name=".AdminDashboard"
            android:exported="false" />
        <activity
            android:name=".ManageOTP"
            android:exported="false" />
        <activity
            android:name=".SignInNumber"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".SignInVerification"
            android:exported="false" />
        <activity
            android:name=".RegistrationEstablishment"
            android:exported="false" />
        <activity
            android:name=".RegistrationManager"
            android:exported="false" />
        <activity
            android:name=".RegistrationUser"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>